---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <h1>About</h1>
  <p>
    I am an AI/Statistics researcher developing algorithms for real-world applications.
  </p>
</BaseLayout>

